@using RequestsForRights.Infrastructure.Security.Interfaces
@using RequestsForRights.Models.Models
@model RequestsForRights.Models.ModelViews.RequestIndexViewModel

@{
    Layout = null;
    var securityService = (IRequestSecurityService<RequestUserModel>)ViewData["SecurityService"];
    var firstElementIndex = Model.FilterOptions.PageIndex * Model.FilterOptions.PageSize + 1;
    var lastElementIndex = firstElementIndex + Model.FilterOptions.PageSize - 1;
    if (lastElementIndex > Model.RequestCount)
    {
        lastElementIndex = Model.RequestCount;
    }
    if (firstElementIndex > lastElementIndex)
    {
        firstElementIndex = lastElementIndex;
    }
    var pageCount = Math.Ceiling((decimal)Model.RequestCount / Model.FilterOptions.PageSize);
    var firstDisplayedPageIndex = Model.FilterOptions.PageIndex - 3 > 0 ? Model.FilterOptions.PageIndex - 3 : 0;
}
<nav aria-label="Навигация">
    <ul class="pagination rr-pagination">
        @if (Model.FilterOptions.PageIndex <= 0)
        {
            <li class="disabled">
                <span>«</span>
            </li>
        }
        else
        {
            <li>
                @Ajax.ActionLink("«", "GetDataTable", new {PageIndex = Model.FilterOptions.PageIndex - 1}, new AjaxOptions
                {
                    UpdateTargetId = "main-table-wrapper",
                    InsertionMode = InsertionMode.Replace,
                    Url = Url.Action("GetDataTable", new {PageIndex = Model.FilterOptions.PageIndex - 1})
                }, new {ariaLabel = "Предыдущая страница"})
            </li>
        }
        @for (var i = firstDisplayedPageIndex; i <= firstDisplayedPageIndex + 6; i++)
        {
            if (pageCount <= i)
            {
                break;
            }
            <li class="@(Model.FilterOptions.PageIndex == i ? "active" : "")">
                @Ajax.ActionLink((i + 1).ToString(), "GetDataTable", new {PageIndex = i}, new AjaxOptions
                {
                    UpdateTargetId = "main-table-wrapper",
                    InsertionMode = InsertionMode.Replace,
                    Url = Url.Action("GetDataTable", new {PageIndex = i})
                })
            </li>
        }
        @if (Model.FilterOptions.PageIndex >= pageCount - 1)
        {
            <li class="disabled">
                <span>»</span>
            </li>
        }
        else
        {
            <li>
                @Ajax.ActionLink("»", "GetDataTable", new {PageIndex = Model.FilterOptions.PageIndex + 1}, new AjaxOptions
                {
                    UpdateTargetId = "main-table-wrapper",
                    InsertionMode = InsertionMode.Replace,
                    Url = Url.Action("GetDataTable", new {PageIndex = Model.FilterOptions.PageIndex + 1})
                }, new {ariaLabel = "Следующая страница"})
            </li>
        }
    </ul>
    <span class="rr-page-counter">показано @firstElementIndex - @lastElementIndex из @Model.RequestCount</span>
    @if (securityService.CanCreate())
    {
        <div class="col-md-2 col-sm-3 col-xs-12 rr-right-control pull-right rr-add-button btn-group dropup">
            <button type="button" class="btn btn-primary dropdown-toggle col-xs-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Подать заявку
            </button>
            <ul class="dropdown-menu">
                @Html.Action("RequestCreateMenuItems")
            </ul>
        </div>
    }
</nav>