@using System.Globalization
@model RequestsForRights.Models.ModelViews.RequestIndexModelView

@{
    Layout = null;
}

<div class="rr-filter-control">
    @using (Ajax.BeginForm("GetDataTable", new AjaxOptions
    {
        UpdateTargetId = "main-table-wrapper",
        InsertionMode = InsertionMode.Replace,
        Url = Url.Action("GetDataTable")
    }))
    {
        <div class="clearfix rr-main-filter-panel">
            <div class="form-group col-sm-3 rr-left-control">
                @Html.Label("PageSize", "Отображено записей")
                @Html.DropDownList("PageSize", new[] { 10, 25, 50, 100 }.Select(x => new SelectListItem
                {
                    Value = x.ToString(),
                    Text = x.ToString(),
                    Selected = x == Model.FilterOptions.PageSize
                }), new { @class = "form-control" })
            </div>
            <div class="form-group col-sm-7">
                @Html.Label("Filter", "Поиск")
                @Html.TextBox("Filter", Model.FilterOptions.Filter, 
                    new { @class = "form-control", placeholder = "Введите текст для поиска" })
            </div>
            <div class="col-sm-2 col-xs-12 rr-right-control ">
                <button class="btn btn-primary col-xs-12 rr-ext-filter-button collapsed" type="button"
                        data-toggle="collapse" data-target="#filter"
                        aria-expanded="false" aria-controls="filter">
                    Фильтрация
                </button>
            </div>
        </div>
        <div class="collapse rr-ext-filter-panel" id="filter">
            <div class="form-group col-sm-6  rr-left-control">
                @Html.Label("IdRequestStateType", "Статус заявки")
                @Html.DropDownList("IdRequestStateType",
                    new SelectList(Model.RequestStateTypes, "IdRequestStateType", "Name", 
                        Model.FilterOptions.IdRequestStateType),
                    "Все заявки",
                    new {@class = "form-control"})
            </div>
            <div class="form-group col-sm-6  rr-right-control">
                @Html.Label("IdRequestType", "Тип заявки")
                @Html.DropDownList("IdRequestType",
                    new SelectList(Model.RequestTypes, "IdRequestType", "Name",
                        Model.FilterOptions.IdRequestType),
                    "Все заявки",
                    new {@class = "form-control"})
            </div>
            <div class="form-group col-sm-6  rr-left-control">
                @Html.Label("RequestCategory", "Категория заявки")
                @Html.DropDownList("RequestCategory",
                    new SelectList(Model.RequestCatogories, "RequestCategory", "DisplayName",
                        Model.FilterOptions.RequestCategory),
                    new {@class = "form-control"})
            </div>
            <div class="form-group col-sm-3 col-xs-6">
                @Html.Label("DateOfFillingFrom", "Дата подачи (с)")
                <div class="input-group date">
                    @Html.TextBox("DateOfFillingFrom",
                     Model.FilterOptions.DateOfFillingFrom != null ?
                     Model.FilterOptions.DateOfFillingFrom.Value.ToString("dd.MM.yyyy", CultureInfo.CurrentCulture) : "",
                     new { @class = "form-control" })
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-3 col-xs-6  rr-right-control">
                @Html.Label("DateOfFillingTo", "Дата подачи (по)")
                <div class="input-group date">
                    @Html.TextBox("DateOfFillingTo",
                 Model.FilterOptions.DateOfFillingTo != null ?
                 Model.FilterOptions.DateOfFillingTo.Value.ToString("dd.MM.yyyy", CultureInfo.CurrentCulture) : "",
                 new { @class = "form-control" })
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>