@model RequestsForRights.Web.Models.ViewModels.ReportAclUserRolesViewModel

@{
    ViewBag.Title = "Отчет по правам доступа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Отчет по правам доступа</h2>

@Html.Partial("ErrorAlert")
@Html.Partial("FilterControl")
@Html.Action("GetDataTable")

@section scripts {
    @Styles.Render("~/Content/bootstrap-datepicker")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Scripts.Render("~/bundles/rr-index.common")
    @Scripts.Render("~/bundles/rr-report.common")
}