@{
    dynamic securityService = ViewData["SecurityService"];
    if (securityService == null)
    {
        return;
    }
}

<div class="clearfix"></div>
<div class="text-center text-info rr-agreement-sending">Отправка...</div>

@if (securityService.CanAgreement(Model.RequestModel))
{
    <div class="clearfix">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger rr-agreement-error-alert" style="display: none" role="alert">
                <button type="button" class="close" data-hide="rr-agreement-error-alert" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="rr-alert-message">Произошла непредвиденная ошибка</span>
            </div>
        </div>
    </div>
    if (securityService.CanSetRequestState(Model.RequestModel, 5))
    {
        using (Ajax.BeginForm("SetRequestState", "Request",
            new AjaxOptions
            {
                UpdateTargetId = "rr-agreements",
                InsertionMode = InsertionMode.Replace,
                OnFailure = "sendAgreementFailure",
                OnBegin = "beforeSendAgreementCancel",
                OnSuccess = "sendAgreementSuccess"
            }))
        {
            @Html.Hidden("IdRequest", (int) Model.RequestModel.IdRequest)
            @Html.Hidden("IdRequestStateType", 5)
            <div class="rr-request-cancel-agreement-editor">
                <div class="form-group col-md-8 col-md-offset-2">
                    @Html.Label("AgreementLabel", "Причина отклонения", new
                    {
                        @class = "control-label",
                        @for = "rr-cancel-agreement-reason"
                    })
                    @Html.TextArea("AgreementReason", new
                    {
                        @class = "form-control",
                        placeholder = "Введите причину отклонения заявки",
                        rows = "4",
                        id = "rr-cancel-agreement-reason"
                    })
                </div>
            </div>
            <div class="text-center rr-cancel-agreement-panel">
                <div class="btn-group" role="group" aria-label="Панель отклонения заявки">
                    <button class="btn btn-danger rr-send-agreement-button"
                            title="Отклонить заявку"
                            aria-label="Отклонить">
                        Отклонить
                    </button>
                    <button class="btn btn-default rr-cancel-agreement-button"
                            title="Отменить отклонение заявки"
                            aria-label="Отменить">
                        Отменить
                    </button>
                </div>
            </div>
        }
    }
    
    if (securityService.CanAddCoordinator(Model.RequestModel))
    {
        using (Ajax.BeginForm("AddCoordinator", "Request",
            new AjaxOptions
            {
                UpdateTargetId = "rr-agreements",
                InsertionMode = InsertionMode.Replace,
                OnBegin = "beforeCoordinatorAdding",
                OnFailure = "coordinatorAddingFailure",
                OnSuccess = "sendAgreementSuccess"
            }))
        {
            @Html.Hidden("IdRequest", ViewData["IdRequest"])
            @Html.Hidden("Coordinator.Login", "", new { id = "rr-new-coordinator-login" })
            @Html.Hidden("Coordinator.Phone", "", new { id = "rr-new-coordinator-phone" })
            @Html.Hidden("Coordinator.Email", "", new { id = "rr-new-coordinator-email" })
    
            <div class="rr-request-coordinator-editor">
                <div class="form-group col-md-8 col-md-offset-2">
                    @Html.Label("CoordiantorSnpLabel", "ФИО", new
                    {
                        @class = "control-label",
                        @for = "rr-new-coordinator"
                    })
                    @Html.TextBox("Coordinator.Snp", "", new
                    {
                        @class = "form-control",
                        placeholder = "Введите ФИО доп. согласующего",
                        id = "rr-new-coordinator-snp"
                    })
                    @Html.ValidationMessage("Coordinator.Snp")
                </div>
                <div class="form-group col-md-8 col-md-offset-2">
                    @Html.Label("CoordiantorDepartmentLabel", "Департамент", new
                    {
                        @class = "control-label",
                        @for = "rr-new-coordinator-department"
                    })
                    @Html.TextBox("Coordinator.Department", "", new
                    {
                        @class = "form-control",
                        id = "rr-new-coordinator-department",
                        @readonly = "readonly"
                    })
                </div>
                <div class="form-group col-md-8 col-md-offset-2">
                    @Html.Label("CoordiantorUnitLabel", "Отдел", new
                    {
                        @class = "control-label",
                        @for = "rr-new-coordinator-unit"
                    })
                    @Html.TextBox("Coordinator.Unit", "", new
                    {
                        @class = "form-control",
                        id = "rr-new-coordinator-unit",
                        @readonly = "readonly"
                    })
                </div>
            </div>
            <div class="text-center rr-add-coordinator-panel">
                <div class="btn-group" role="group" aria-label="Панель дополнительного согласования">
                    <button class="btn btn-default rr-send-coordinator-button"
                            title="Отправить на дополнительное согласование"
                            aria-label="Отправить">
                        <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                        Отправить
                    </button>
                    <button class="btn btn-default rr-cancel-coordinator-button"
                            title="Отменить дополнительное согласование"
                            aria-label="Отменить">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                        Отменить
                    </button>
                </div>
            </div>
        }
    }
    <div class="rr-agreement-panel-wrapper">
        <div class="text-center rr-agreement-panel">
            <div class="btn-group" role="group" aria-label="Панель согласования">
                @{
                    var agreementButtonsParams = new[]
                    {
                        new
                        {
                            Title = "Отправить на согласование",
                            IdRequestStateType = 1,
                            LabelText = "На согласование"
                        },
                        new
                        {
                            Title = "Утвердить заявку",
                            IdRequestStateType = 2,
                            LabelText = "Утвердить"
                        },
                        new
                        {
                            Title = "Отправить на исполнение",
                            IdRequestStateType = 3,
                            LabelText = "На исполнение"
                        },
                        new
                        {
                            Title = "Выполнит заявку",
                            IdRequestStateType = 4,
                            LabelText = "Выполнить"
                        }
                    };
                }

                @foreach (var buttonsParams in agreementButtonsParams)
                {
                    if (securityService.CanSetRequestState(
                        Model.RequestModel,
                        buttonsParams.IdRequestStateType))
                    {
                        @Ajax.ActionLink(buttonsParams.LabelText, "SetRequestState", "Request",
                            new
                            {
                                idRequest = Model.RequestModel.IdRequest,
                                idRequestStateType = buttonsParams.IdRequestStateType
                            },
                            new AjaxOptions
                            {
                                UpdateTargetId = "rr-agreements",
                                InsertionMode = InsertionMode.Replace,
                                OnFailure = "sendAgreementFailure",
                                OnBegin = "beforeSendAgreement",
                                OnSuccess = "sendAgreementSuccess"
                            }, new
                            {
                                @class = "btn btn-default",
                                title = buttonsParams.Title,
                                aria_lable = buttonsParams.LabelText
                            })
                    }
                }
                @if (securityService.CanAddCoordinator(Model.RequestModel))
                {
                    <button class="btn btn-default rr-add-coordinator-button"
                            title="Добавить дополнительного согласующего"
                            aria-label="Добавить дополнительного согласующего">
                        Доп. согласование
                    </button>
                }
                @if (securityService.CanSetRequestState(Model.RequestModel, 5))
                {
                    <button class="btn btn-default rr-cancel-agreement-dialog-show-button"
                            title="Отклонить заявку"
                            aria-label="Отклонить">
                        Отклонить
                    </button>
                }
                @if (securityService.CanAcceptCancelRequest(Model.RequestModel))
                {
                    @Ajax.ActionLink(@"Подтвердить отклонение", "AcceptCancelRequest", "Request",
                            new
                            {
                                idRequest = Model.RequestModel.IdRequest
                            },
                            new AjaxOptions
                            {
                                UpdateTargetId = "rr-agreements",
                                InsertionMode = InsertionMode.Replace,
                                OnFailure = "sendAgreementFailure",
                                OnBegin = "beforeSendAgreement",
                                OnSuccess = "sendAgreementSuccess"
                            }, new
                            {
                                @class = "btn btn-default rr-accept-cancel-agreement-button",
                                title = @"Подтвердить отклонение заявки",
                                aria_lable = @"Подтвердить отклонение"
                            })
                }
            </div>
        </div>
    </div>
}