@using RequestsForRights.Domain.Entities
@{
    var successAgreements = ((IEnumerable<RequestAgreement>)Model.SuccessAgreements).ToList();
    var cancelAgreements = ((IEnumerable<RequestAgreement>)Model.CancelAgreements).ToList();
    var waitAgreementUsers = ((IEnumerable<AclUser>)Model.WaitAgreementUsers).
        GroupBy(r => r.Department).ToList();
    var idRequest = Model.RequestModel.IdRequest;
}

@if (waitAgreementUsers.Any())
{
    <div class=" col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Ожидается согласование</div>
                @foreach (var agreementDepartment in waitAgreementUsers)
                {
                    <div class="list-group">
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">@agreementDepartment.Key.Name</h4>
                            @foreach (var user in agreementDepartment.Select(r => r))
                            {
                                <dl class="dl-horizontal">
                                    <dt>ФИО сотрудника</dt>
                                    <dd>@user.Snp</dd>
                                    <dt>Почтовый адрес</dt>
                                    <dd><a href="mailto:@(user.Email)">@user.Email</a></dd>
                                    <dt>Тип согласования</dt>
                                    <dd>
                                        @(user.RequestAgreements.Where(r => r.IdRequest == idRequest).
                                                   Select(r => r.AgreementType.Name).FirstOrDefault())
                                    </dd>
                                </dl>   
                            }
                        </div>
                    </div>
                }
        </div>
    </div>
}

@if (successAgreements.Any())
{
    <div class=" col-md-8 col-md-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading">Согласовано</div>
            <div class="panel-body">
                @foreach (var agreement in successAgreements)
                {
                    <dl class="dl-horizontal">
                        <dt>Департамент</dt>
                        <dd>@agreement.User.Department.Name</dd>
                        <dt>ФИО сотрудника</dt>
                        <dd>@agreement.User.Snp</dd>
                        <dt>Почтовый адрес</dt>
                        <dd><a href="mailto:@(agreement.User.Email)">@agreement.User.Email</a></dd>
                        <dt>Дата согласования</dt>
                        <dd>@agreement.Date</dd>
                        <dt>Тип согласования</dt>
                        <dd>@agreement.AgreementType.Name</dd>
                    </dl>
                }
            </div>
        </div>
    </div>
}

@if (cancelAgreements.Any())
{
    <div class=" col-md-8 col-md-offset-2">
        <div class="panel panel-danger">
            <div class="panel-heading">Отклонено</div>
            <div class="panel-body">
                @foreach (var agreement in cancelAgreements)
                {
                    <dl class="dl-horizontal">
                        <dt>Департамент</dt>
                        <dd>@agreement.User.Department.Name</dd>
                        <dt>ФИО сотрудника</dt>
                        <dd>@agreement.User.Snp</dd>
                        <dt>Почтовый адрес</dt>
                        <dd><a href="mailto:@(agreement.User.Email)">@agreement.User.Email</a></dd>
                        <dt>Дата отклонения</dt>
                        <dd>@agreement.Date</dd>
                        <dt>Причина отклонения</dt>
                        <dd>@agreement.Description</dd>
                        <dt>Тип согласования</dt>
                        <dd>@agreement.AgreementType.Name</dd>
                    </dl>
                }
            </div>
        </div>
    </div>
}

@Html.Partial("Request/AgreementsControls")

