@{
    dynamic securityService = ViewData["SecurityService"];
    if (securityService == null)
    {
        return;
    }
}

<div role="tabpanel" class="tab-pane fade rr-tab-pane" id="rr-comments-content">
    <div class="rr-comments" id="rr-comments">
        @Html.Partial("Request/ExtCommentsList")
    </div>
    @if (securityService.CanComment())
    {
        <div class="clearfix">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-danger rr-comment-error-alert" style="display: none" role="alert">
                    <button type="button" class="close" data-hide="rr-comment-error-alert" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span class="rr-alert-message">Не удалось оставить комментарий</span>
                </div>
            </div>
        </div>
        using (Ajax.BeginForm("AddComment", "Request",
            new AjaxOptions
            {
                UpdateTargetId = "rr-comments",
                InsertionMode = InsertionMode.Replace,
                OnBegin = "beforeAddComment",
                OnSuccess = "commentAddingSuccess",
                OnFailure = "commentAddingFailure"
            }))
        {
            @Html.Hidden("IdRequest", ViewData["IdRequest"])
            <div class="rr-request-comment-editor">
                <div class="form-group col-md-8 col-md-offset-2">
                    @Html.Label("CommentLabel", "Комментарий", new
                    {
                        @class = "control-label",
                        @for = "rr-new-comment"
                    })
                    @Html.TextArea("comment", new
                    {
                        @class = "form-control",
                        placeholder = "Введите комментарий",
                        rows = "4",
                        id = "rr-new-comment"
                    })
                </div>
            </div>
            <div class="text-center rr-add-comment-panel">
                <div class="btn-group" role="group" aria-label="Панель комментариев">
                    <button class="btn btn-default rr-send-comment-button"
                            title="Отправить комментарий"
                            aria-label="Отправить">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        Отправить
                    </button>
                    <button class="btn btn-default rr-cancel-comment-button"
                            title="Отменить комментарий"
                            aria-label="Отменить">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                        Отменить
                    </button>
                </div>
            </div>
        }
    }

    <div class="text-center rr-edit-panel rr-comment-tab-edit-panel">
        <div class="btn-group" role="group" aria-label="Панель действий">
            <a href="@Url.Action("Index", "Request")"
                class="btn btn-default"
                title="Вернуться к перечню"
                aria-label="Назад">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
                Назад
            </a>
            @if (securityService.CanComment())
            {
                <button class="btn btn-default rr-add-comment-button"
                        title="Добавить новый комментарий"
                        aria-label="Комментировать">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    Комментировать
                </button>
            }
        </div>
    </div>
</div>
