@model IQueryable<RequestsForRights.Domain.Entities.RequestExtComment>

@if (Model == null || !Model.Any())
{
    <div class="text-center text-info rr-comments-empty">Комментарии отсутствуют</div>
}

@if (Model != null)
{
    var comments = Model.ToList();
    for (var i = 0; i < comments.Count; i++)
    {
        var tooltip = "";
        if (!string.IsNullOrEmpty(comments[i].User.Phone))
        {
            tooltip += string.Format(
            "<span style='white-space:nowrap'>Телефон: {0}</span>", comments[i].User.Phone);
        }
        if (!string.IsNullOrEmpty(comments[i].User.Phone) && !string.IsNullOrEmpty(comments[i].User.Email))
        {
            tooltip += "<br>";
        }
        if (!string.IsNullOrEmpty(comments[i].User.Email))
        {
            tooltip += string.Format(
                "<span style='white-space:nowrap'>Почта: {0}</span>", comments[i].User.Email);
        }
        
        <div class="col-md-8 col-md-offset-2 rr-comment">
            <div class="popover @(i%2 == 0 ? "right" : "left pull-right") in">
                <div class="arrow">
                    <div class="thumbnail" data-toggle="tooltip"
                         data-html="true" data-placement="bottom" title="@tooltip"
                         data-original-title="@tooltip">
                        <img src="~/Content/Images/user-avatar.png" alt="@tooltip" />
                    </div>
                </div>
                <h3 class="popover-title">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                    @comments[i].User.Snp <span class="rr-comment-title-phone">— @comments[i].User.Phone</span>
                </h3>
                <div class="popover-content">
                    <p>@comments[i].Comment</p>
                    <span class="pull-right rr-comment-datetime">
                        @comments[i].DateOfWriting.ToString("dd.MM.yyyy hh:mm")
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    }
}

