@model RequestsForRights.Models.ModelViews.RequestViewModel<RequestsForRights.Models.Models.RequestUserModel>

@{
    ViewBag.Title = "Добавить заявку на отвключение сотрудника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новая заявка на отключение сотрудника</h2>

@using (Html.BeginForm("Create", "Request", new { }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Hidden("Request.IdRequestType", 3)
    <div class="text-center">
        @Html.ValidationSummary(true)
    </div>

    @Html.Partial("RequestForm")
    @Html.Partial("Request/EditPanels/Create")
}

@section scripts {
    @Scripts.Render("~/bundles/rr-request.common")
}
