@model RequestsForRights.Models.ViewModels.RequestViewModel<RequestsForRights.Models.Models.RequestUserModel>

@{
    ViewBag.Title = "Добавить заявку на отвключение сотрудника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новая заявка на отключение сотрудника</h2>

@using (Html.BeginForm("Create", "Request", new { IdRequestType = 3 },
    FormMethod.Post, new { @class = "form-horizontal", id = "rr-request-form" }))
{
    @Html.Hidden("RequestModel.IdRequestType", 3)
    <div class="text-center">
        @Html.ValidationSummary(true)
    </div>

    @Html.Partial("RequestForm")
    @Html.Partial("Request/EditPanels/Create")
}

@section scripts {
    @Scripts.Render("~/bundles/jquery.autocomplete")
    @Scripts.Render("~/bundles/rr-request.common")
}
