@using RequestsForRights.Infrastructure.Security.Interfaces
@using RequestsForRights.Models.Models
@model RequestsForRights.Models.ViewModels.Request.RequestRemoveUserViewModel

@{
    var securityService = (IRequestSecurityService<RequestUserModel>)ViewData["SecurityService"];
    ViewData["IdRequest"] = Model.RequestModel.IdRequest;
    ViewBag.Title = "Заявка на отключение сотрудника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Заявка # @Model.RequestModel.IdRequest на отключение сотрудника</h2>

@Html.Partial("ErrorAlert")

<div>
    @Html.Partial("Request/Tabs")
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active rr-tab-pane" id="rr-request-content">
            <div>
                <div class="col-sm-12">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(r => r.RequestModel.Description)</dt>
                        <dd>@Model.RequestModel.Description</dd>
                    </dl>
                </div>
                <div class="panel-group rr-request-users" id="accordion" role="tablist" aria-multiselectable="true">
                    @if (Model.RequestModel.Users != null)
                    {
                        for (var i = 0; i < Model.RequestModel.Users.Count; i++)
                        {
                            var id = string.Format("collapse{0}", i);

                            <div class="panel panel-primary rr-request-user">
                                <div class="panel-heading" role="tab" id="heading@id">
                                    <h4 class="panel-title">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@id" aria-expanded="true" aria-controls="@id">
                                            Сотрудник «@Model.RequestModel.Users[i].Snp»
                                        </a>
                                    </h4>
                                </div>
                                <div id="@id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <dl class="dl-horizontal">
                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Snp)</dt>
                                            <dd>@Model.RequestModel.Users[i].Snp</dd>
                                            @if (securityService.CanSeeLogin())
                                            {
                                                <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Login)</dt>
                                                <dd>@Model.RequestModel.Users[i].Login</dd>
                                            }
                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Post)</dt>
                                            <dd>@Model.RequestModel.Users[i].Post</dd>
                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Department)</dt>
                                            <dd>@Model.RequestModel.Users[i].Department</dd>
                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Unit)</dt>
                                            <dd>@Model.RequestModel.Users[i].Unit</dd>
                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Office)</dt>
                                            <dd>@Model.RequestModel.Users[i].Office</dd>
                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Phone)</dt>
                                            <dd>@Model.RequestModel.Users[i].Phone</dd>
                                             @if (!string.IsNullOrEmpty(Model.RequestModel.Users[i].Description))
                                             {
                                                 <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Description)</dt>
                                                 <dd>@Model.RequestModel.Users[i].Description</dd>
                                             }
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            @Html.Partial("Request/EditPanels/Detail")
        </div>
        @Html.Partial("Request/Agreements")
        @Html.Partial("Request/ExtComments", Model.Comments)
    </div>
</div>

@Html.Partial("DeleteModal", new
{
    Title = "Подтвердите удаление",
    Description = "Вы действительно хотите удалить эту заявку?"
})

@section scripts {
    @Scripts.Render("~/bundles/jquery.autocomplete")
    @Scripts.Render("~/bundles/rr-request.common")
    @Scripts.Render("~/bundles/rr-detail.update.common")
    @Scripts.Render("~/bundles/rr-request.comments")
    @Scripts.Render("~/bundles/rr-request.agreements")
}