@using RequestsForRights.Infrastructure.Extensions
@using RequestsForRights.Infrastructure.Security.Interfaces
@using RequestsForRights.Models.Models
@model RequestsForRights.Models.ViewModels.RequestViewModel<RequestUserModel>

@{
    var securityService = (IRequestSecurityService<RequestUserModel>) ViewData["SecurityService"];
    var userIndex = -1;
    if (ViewData.Keys.Contains("UserIndex"))
    {
        int.TryParse(ViewData["UserIndex"].ToString(), out userIndex);
    }
    var id = string.Format("collapse{0}", userIndex);
    var title = string.IsNullOrEmpty(Model.RequestModel.Users[userIndex].Snp) ? "Новый сотрудник" : "Сотрудник «" + 
        Model.RequestModel.Users[userIndex].Snp + "»";
}

<div class="panel panel-default rr-request-user">
    <div class="panel-heading" role="tab" id="heading@id">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@id" aria-expanded="true" aria-controls="@id">
                @title
            </a>
             <span class="badge rr-badge">0</span>
        </h4>
    </div>
    <div id="@id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            @Html.Hidden("rr-request-user-prev-snp", Model.RequestModel.Users[userIndex].Snp)
            <div class="form-group rr-request-user-snp">
                @Html.RequiredLabelFor(r => r.RequestModel.Users[userIndex].Snp,
                    new {@class = "col-sm-2 control-label"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(r => r.RequestModel.Users[userIndex].Snp,
                        new
                        {
                            @class = "form-control",
                            placeholder = "Введите ФИО пользователя"
                        })
                    @Html.ValidationMessageFor(r => r.RequestModel.Users[userIndex].Snp)
                </div>
            </div>
            @if (securityService.CanSeeLogin())
            {
                <div class="form-group rr-request-user-login">
                    @Html.RequiredLabelFor(r => r.RequestModel.Users[userIndex].Login,
                        new {@class = "col-sm-2 control-label"})
                    <div class="col-sm-10">
                        @Html.TextBoxFor(r => r.RequestModel.Users[userIndex].Login,
                            new
                            {
                                @class = "form-control",
                                @readonly = "readonly"
                            })
                        @Html.ValidationMessageFor(r => r.RequestModel.Users[userIndex].Login)
                    </div>
                </div>
            }
            else
            {
                <div class="rr-request-user-login">
                    @Html.HiddenFor(r => r.RequestModel.Users[userIndex].Login)
                </div>
            }
            <div class="form-group rr-request-user-post">
                @Html.RequiredLabelFor(r => r.RequestModel.Users[userIndex].Post,
                    new {@class = "col-sm-2 control-label"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(r => r.RequestModel.Users[userIndex].Post,
                        new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        })
                    @Html.ValidationMessageFor(r => r.RequestModel.Users[userIndex].Post)
                </div>
            </div>
            <div class="form-group rr-request-user-department">
                @Html.RequiredLabelFor(r => r.RequestModel.Users[userIndex].Department,
                    new {@class = "col-sm-2 control-label"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(r => r.RequestModel.Users[userIndex].Department,
                        new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        })
                    @Html.ValidationMessageFor(r => r.RequestModel.Users[userIndex].Department)
                </div>
            </div>
            <div class="form-group rr-request-user-unit">
                @Html.RequiredLabelFor(r => r.RequestModel.Users[userIndex].Unit,
                    new {@class = "col-sm-2 control-label"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(r => r.RequestModel.Users[userIndex].Unit,
                        new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        })
                    @Html.ValidationMessageFor(r => r.RequestModel.Users[userIndex].Unit)
                </div>
            </div>
            <div class="form-group rr-request-user-office">
                @Html.RequiredLabelFor(r => r.RequestModel.Users[userIndex].Office,
                    new {@class = "col-sm-2 control-label"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(r => r.RequestModel.Users[userIndex].Office,
                        new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        })
                    @Html.ValidationMessageFor(r => r.RequestModel.Users[userIndex].Office)
                </div>
            </div>
            <div class="form-group rr-request-user-phone">
                @Html.RequiredLabelFor(r => r.RequestModel.Users[userIndex].Phone,
                    new {@class = "col-sm-2 control-label"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(r => r.RequestModel.Users[userIndex].Phone,
                        new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        })
                    @Html.ValidationMessageFor(r => r.RequestModel.Users[userIndex].Phone)
                </div>
            </div>
            <div class="form-group rr-request-user-description">
                @Html.RequiredLabelFor(r => r.RequestModel.Users[userIndex].Description,
                    new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(r => r.RequestModel.Users[userIndex].Description,
                        new
                        {
                            @class = "form-control",
                            placeholder = "Введите примечание к пользователю",
                            rows = "4"
                        })
                    @Html.ValidationMessageFor(r => r.RequestModel.Users[userIndex].Description)
                </div>
            </div>
            <div class="text-center">
                <button name="deleteUser" class="btn btn-danger rr-remove-user-button">Удалить сотрудника</button>
            </div>
        </div>
    </div>
</div>