@model RequestsForRights.Models.ViewModels.Request.RequestModifyPermissionsViewModel

@{
    ViewBag.Title = "Добавить заявку на изменение прав сотрудника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новая заявка на изменение прав сотрудника</h2>

@using (Html.BeginForm("Create", "Request", new { IdRequestType = 2 }, FormMethod.Post,
    new { @class = "form-horizontal", id = "rr-request-form" }))
{
    @Html.Hidden("RequestModel.IdRequestType", 2)
    <div class="text-center">
        @Html.ValidationSummary(true)
    </div>

    @Html.Partial("RequestForm")
    @Html.Partial("Request/EditPanels/Create")
}


@section scripts {
    @Scripts.Render("~/bundles/jquery.autocomplete")
    @Scripts.Render("~/bundles/json2")
    @Scripts.Render("~/bundles/rr-request.common")
    @Scripts.Render("~/bundles/rr-request.update.insert.common")
}
