@model RequestsForRights.Models.ModelViews.RequestViewModel<RequestsForRights.Models.Models.RequestUserModel>

@{
    ViewBag.Title = "Добавить заявку на выдачу и лишиние прав пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новая заявка на выдачу и лишение прав пользователя</h2>

@using (Html.BeginForm("Create", "Request", new { IdRequestType = 2 }, FormMethod.Post,
    new { @class = "form-horizontal", id = "rr-request-form" }))
{
    @Html.Hidden("Request.IdRequestType", 2)
    <div class="text-center">
        @Html.ValidationSummary(true)
    </div>

    @Html.Partial("RequestForm")
    @Html.Partial("Request/EditPanels/Create")
}


@section scripts {
    @Scripts.Render("~/bundles/rr-request.common")
}
