@using RequestsForRights.Web.Infrastructure.Security.Interfaces
@using RequestsForRights.Web.Models.Models
@model RequestsForRights.Web.Models.ViewModels.Request.RequestModifyPermissionsViewModel

@{
    ViewData["IdRequest"] = Model.RequestModel.IdRequest;
    ViewBag.Title = "Изменить заявку на изменение прав";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnUri = Request["returnUri"] ?? Url.Action("Index", "Request");
}


<h2>Изменение заявки # @Model.RequestModel.IdRequest на изменение прав сотрудника</h2>

@Html.Partial("ErrorAlert")

<div>
    @Html.Partial("Request/Tabs")
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active rr-tab-pane" id="rr-request-content">
            @using (Html.BeginForm("Update", "Request", new { id = Model.RequestModel.IdRequest },
                FormMethod.Post, new { @class = "form-horizontal", id = "rr-request-form" }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Put)
                @Html.HiddenFor(r => r.RequestModel.IdRequest)
                @Html.HiddenFor(r => r.RequestModel.IdRequestType)
                @Html.Hidden("returnUri", returnUri)
                <div class="text-center">
                    @Html.ValidationSummary(true)
                </div>

                @Html.Partial("RequestForm")
                @Html.Partial("Request/EditPanels/Update")
            }
        </div>
        @Html.Partial("Request/Agreements")
        @Html.Partial("Request/ExtComments", Model.Comments)
        @Html.Partial("Request/Executors", Model.Executors)
    </div>
</div>

@Html.Partial("DeleteModal", new
{
    Caption = "Подтвердите удаление",
    Description = "Вы действительно хотите удалить эту заявку?"
})

@section scripts {
    @Scripts.Render("~/bundles/jquery.autocomplete")
    @Scripts.Render("~/bundles/json2")
    @Scripts.Render("~/bundles/rr-request.common")
    @Scripts.Render("~/bundles/rr-request.update.insert.common")
    @Scripts.Render("~/bundles/rr-detail.update.common")
    @Scripts.Render("~/bundles/rr-request.comments")
    @Scripts.Render("~/bundles/rr-request.agreements")
}
