@using RequestsForRights.Infrastructure.Extensions
@model RequestsForRights.Models.ViewModels.ResourceViewModel

@{
    var authorityActIndex = -1;
    if (ViewData.Keys.Contains("AuthorityActIndex"))
    {
        int.TryParse(ViewData["AuthorityActIndex"].ToString(), out authorityActIndex);
    }
    if (Model.Resource.ResourceAuthorityActs[authorityActIndex].Deleted)
    {
        return;
    }
}

<li class="list-group-item clearfix rr-authority-act rr-col-sm-no-side-padding-always">
    @Html.HiddenFor(r => r.Resource.ResourceAuthorityActs[authorityActIndex].IdResourceAuthorityAct)
    <div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.
                    ResourceAuthorityActs[authorityActIndex].ActType,
                    new {@class = "control-label"})
                <div>
                    @Html.TextBoxFor(r => r.Resource.
                        ResourceAuthorityActs[authorityActIndex].ActType,
                        new {@class = "form-control", placeholder = "Введите вид акта"})
                    @Html.ValidationMessageFor(r => r.Resource.
                        ResourceAuthorityActs[authorityActIndex].ActType)
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.
                    ResourceAuthorityActs[authorityActIndex].ActName,
                    new {@class = "control-label"})
                <div>
                    @Html.TextBoxFor(r => r.Resource.
                        ResourceAuthorityActs[authorityActIndex].ActName,
                        new {@class = "form-control", placeholder = "Введите наименование акта"})
                    @Html.ValidationMessageFor(r => r.Resource.
                        ResourceAuthorityActs[authorityActIndex].ActName)
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div>
        <div class="col-xs-12 col-sm-6 rr-resource-date">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.
                ResourceAuthorityActs[authorityActIndex].ActDate,
                new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(r => r.Resource.
                             ResourceAuthorityActs[authorityActIndex].ActDate, "{0:dd.MM.yyyy}",
                    new { @class = "form-control", placeholder = "Введите дату акта" })
                    @Html.ValidationMessageFor(r => r.Resource.
                    ResourceAuthorityActs[authorityActIndex].ActDate)
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.
                ResourceAuthorityActs[authorityActIndex].ActNumber,
                new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(r => r.Resource.
                    ResourceAuthorityActs[authorityActIndex].ActNumber,
                    new { @class = "form-control", placeholder = "Введите номер акта" })
                    @Html.ValidationMessageFor(r => r.Resource.
                    ResourceAuthorityActs[authorityActIndex].ActNumber)
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">

        <div class="rr-act-file form-group col-md-10 col-sm-9 col-xs-12 rr-col-sm-no-side-padding-always">
            <div class="rr-id-file">
                @Html.HiddenFor(r => r.Resource.
                                      ResourceAuthorityActs[authorityActIndex].IdFile)
            </div>
            <div>
                <label class="btn btn-default pull-left col-xs-12">
                    <span class="glyphicon glyphicon-link"></span>
                    Загрузить файл
                    <input type="file" name="Files.ResourceAuthorityActs[@(authorityActIndex)]"
                           id="ResourceAuthorityActs_@(authorityActIndex)__File" />
                </label>
                <div class="rr-act-file-name col-md-9 col-sm-8 col-xs-12 pull-left text-info"></div>
            </div>
            <div class="clearfix"></div>
            <div>
                @Html.ValidationMessage("Files.ResourceAuthorityActs[" + authorityActIndex + "]")
            </div>
            @if (Model.Resource.
                ResourceAuthorityActs[authorityActIndex].IdFile != null)
            {
                <div class="rr-act-file-link pull-left text-info">
                    <a href="@Url.Action("LoadFile", "Resource", new
                             {
                                 Model.Resource.
                                     ResourceAuthorityActs[authorityActIndex].IdFile
                             })">Скачать</a>
                </div>
            }
        </div>
        <button name="deleteAuthorityAct" class="btn btn-danger pull-right">Удалить акт</button>
    </div>
</li>