@model RequestsForRights.Models.ViewModels.ResourceViewModel

@{
    ViewBag.Title = "Добавить информационный ресурс";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новый информационный ресурс</h2>

@using (Html.BeginForm("Create", "Resource", new { }, FormMethod.Post))
{
    <div class="text-center">
        @Html.ValidationSummary(true)
    </div>
    
    @Html.Partial("ResourceForm")

    <div class="text-center rr-edit-panel">
        <div class="btn-group" role="group" aria-label="Панель действий">
            <a href="@Url.Action("Index")"
               class="btn btn-default"
               title="Вернуться к перечню ресурсов"
               aria-label="Назад">
                <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
                Назад
            </a>
            <button class="btn btn-default rr-save-button"
                    title="Сохранить ресурс"
                    aria-label="Сохранить">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                Сохранить
            </button>
        </div>
    </div>
}

@section scripts {
    @Styles.Render("~/Content/bootstrap-datepicker")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Scripts.Render("~/bundles/rr-resource.common")
}