@using RequestsForRights.Infrastructure.Security.Interfaces
@using SortDirection = RequestsForRights.Infrastructure.Enums.SortDirection
@model RequestsForRights.Models.ViewModels.ResourceIndexViewModel

@{
    var securityService = (IResourceSecurityService)ViewData["SecurityService"];
    var headers = new[]
    {
        new {
            Name = "Наименование",
            Field = "Name",
            MinWidth = 200
        },
        new {
            Name = "Описание",
            Field = "Description",
            MinWidth = 0
        },
        new {
            Name = "Категория",
            Field = "ResourceGroup.Name",
            MinWidth = 200
        }
    };
}

<div id="main-table-wrapper" class="rr-table-wrapper">
    <table class="table table-hover">
        <thead>
        <tr>
            @foreach (var header in headers)
            {
                var iconClass = "glyphicon-sort";
                var sortDirection = SortDirection.Asc;
                if (header.Field == Model.FilterOptions.SortField)
                {
                    iconClass = Model.FilterOptions.SortDirection == SortDirection.Asc ?
                        "glyphicon-sort-by-attributes" :
                        "glyphicon-sort-by-attributes-alt";
                    sortDirection = Model.FilterOptions.SortDirection == SortDirection.Asc ?
                        SortDirection.Desc : SortDirection.Asc;
                }
                <th class="rr-column rr-column-header" 
                    style="min-width: @(header.MinWidth)px">
                    <a href="@Url.Action("GetDataTable", new {SortField = header.Field, SortDirection = sortDirection})">
                        @header.Name
                        <span class="glyphicon @iconClass pull-right" aria-hidden="true"></span>
                    </a>
                </th>
            }
            <th style="max-width: 100px"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var resource in Model.VisibleResources)
        {
            <tr>
                <td class="rr-column col-sm-2">@resource.Name</td>
                <td class="rr-column col-sm-8">@resource.Description</td>
                <td class="rr-column col-sm-2">@resource.ResourceGroup.Name</td>
                <td class="rr-edit-column text-center">
                    <div class="btn-group btn-group-xs" role="group" aria-label="Панель редактирования записи">
                        <a href="@Url.Action("Detail", new {id = resource.IdResource})"
                           class="btn btn-default glyphicon glyphicon-eye-open"
                           title="Просмотреть запись"
                           aria-label="Просмотреть запись"></a>
                        @if (securityService.CanUpdate(resource))
                        {
                            <a href="@Url.Action("Update", new {id = resource.IdResource})"
                               class="btn btn-default glyphicon glyphicon-pencil"
                               title="Изменить запись"
                               aria-label="Изменить запись"></a>
                        }
                        @if (securityService.CanDelete(resource))
                        {
                            <a href="@Url.Action("Delete", new {id = resource.IdResource})"
                               class="btn btn-danger glyphicon glyphicon-remove rr-delete-item-button"
                               title="Удалить запись"
                               aria-label="Удалить запись"></a>
                        }
                    </div>

                </td>
            </tr>
        }
        </tbody>
    </table>@Html.Partial("DataTableFooter", Model)
</div>