@using RequestsForRights.Web.Infrastructure.Security.Interfaces
@model RequestsForRights.Domain.Entities.Resource

@{
    ViewBag.Title = "Просмотр информационного ресурса";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var securityService = (IResourceSecurityService)ViewData["SecurityService"];
}

<h2>Информационный ресурс # @Model.IdResource</h2>

@Html.Partial("ErrorAlert")

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Сведения о ресурсе</a>
        </li>
        <li role="presentation">
            <a href="#rights" aria-controls="rights" role="tab" data-toggle="tab">Права</a>
        </li>
        <li role="presentation">
            <a href="#owner" aria-controls="owner" role="tab" data-toggle="tab">Владелец</a>
        </li>
        <li role="presentation">
            <a href="#operator" aria-controls="operator" role="tab" data-toggle="tab">Оператор</a>
        </li>
        <li role="presentation">
            <a href="#acts" aria-controls="acts" role="tab" data-toggle="tab">Акты</a>
        </li>
    </ul>

    <div class="tab-content rr-detail-resource-tab-content">
        <div role="tabpanel" class="tab-pane fade in active rr-tab-pane" id="general">
            @Html.Partial("DetailGeneral")
        </div>
        <div role="tabpanel" class="tab-pane fade rr-tab-pane" id="rights">
            @Html.Partial("DetailRights")
        </div>
        <div role="tabpanel" class="tab-pane fade rr-tab-pane" id="owner">
            @Html.Partial("DetailOwner")
        </div>
        <div role="tabpanel" class="tab-pane fade rr-tab-pane" id="operator">
            @Html.Partial("DetailOperator")
        </div>
        <div role="tabpanel" class="tab-pane fade rr-tab-pane" id="acts">
            @Html.Partial("DetailActs")
        </div>
    </div>
</div>

<div class="text-center rr-edit-panel">
    <div class="btn-group" role="group" aria-label="Панель действий">
        <a href="@Url.Action("Index")"
           class="btn btn-default"
           title="Вернуться к перечню ресурсов"
           aria-label="Назад">
            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
            Назад
        </a>
        @if (securityService.CanUpdate(Model))
        {
            <a href="@Url.Action("Update", new {id = Model.IdResource, returnUri = Url.Action("Detail")})"
               class="btn btn-default"
               title="Изменить ресурс"
               aria-label="Изменить">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Изменить
            </a>
        }
        @if (securityService.CanDelete(Model))
        {
            <a href="@Url.Action("Delete", new {id = Model.IdResource})" id="delete-button"
               data-success-redirect-to="@Url.Action("Index")"
               class="btn btn-danger"
               title="Блокировать ресурс"
               aria-label="Блокировать">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Блокировать
            </a>
        }
    </div>
</div>

@Html.Partial("DeleteModal", new
{
    Caption = "Подтвердите блокировку",
    Description = "Вы действительно хотите блокировать этот ресурс?"
})

@section scripts {
    @Scripts.Render("~/bundles/rr-detail.update.common")
}