@using System.Globalization
@model RequestsForRights.Domain.Entities.Resource

<div class="panel panel-primary">
<div class="panel-heading">Общие сведения</div>
<div class="panel-body rr-detail-resource-panel-body">
<dl class="col-xs-12">
    <dt>@Html.DisplayNameFor(r => r.IdOwnerDepartment)</dt>
    <dd>@Model.OwnerDepartment.Name</dd>
    <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.TaxPayerNumber)</dt>
    <dd>
        @if (string.IsNullOrEmpty(Model.OwnerDepartment.TaxPayerNumber))
        {
            <i>Отсутствует</i>
        }
        else
        {
            @Model.OwnerDepartment.TaxPayerNumber
        }
    </dd>
    <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.OfficialNameLongRu)</dt>
    <dd>
        @if (string.IsNullOrEmpty(Model.OwnerDepartment.OfficialNameLongRu))
        {
            <i>Отсутствует</i>
        }
        else
        {
            @Model.OwnerDepartment.OfficialNameLongRu
        }
    </dd>
    <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.OfficialNameLongEn)</dt>
    <dd>
        @if (string.IsNullOrEmpty(Model.OwnerDepartment.OfficialNameLongEn))
        {
            <i>Отсутствует</i>
        }
        else
        {
            @Model.OwnerDepartment.OfficialNameLongEn
        }
    </dd>
</dl>
<dl class="col-sm-6">
    <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.OfficialNameShortRu)</dt>
    <dd>
        @if (string.IsNullOrEmpty(Model.OwnerDepartment.OfficialNameShortRu))
        {
            <i>Отсутствует</i>
        }
        else
        {
            @Model.OwnerDepartment.OfficialNameShortRu
        }
    </dd>
</dl>
<dl class="col-sm-6">
    <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.OfficialNameShortEn)</dt>
    <dd>
        @if (string.IsNullOrEmpty(Model.OwnerDepartment.OfficialNameShortEn))
        {
            <i>Отсутствует</i>
        }
        else
        {
            @Model.OwnerDepartment.OfficialNameShortEn
        }
    </dd>
</dl>
<div class="clearfix"></div>

<div class="panel panel-primary rr-resource-address-panel">
    <div class="panel-heading">Адрес постоянно действующего исполнительного органа владельца ИС</div>
    <div class="panel-body rr-detail-resource-panel-body">
        <dl class="col-sm-6">
            <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.SelfAddressIndex)</dt>
            <dd>
                @if (string.IsNullOrEmpty(Model.OwnerDepartment.SelfAddressIndex))
                {
                    <i>Отсутствует</i>
                }
                else
                {
                    @Model.OwnerDepartment.SelfAddressIndex
                }
            </dd>
            <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.SelfAddressArea)</dt>
            <dd>
                @if (string.IsNullOrEmpty(Model.OwnerDepartment.SelfAddressArea))
                {
                    <i>Отсутствует</i>
                }
                else
                {
                    @Model.OwnerDepartment.SelfAddressArea
                }
            </dd>
            <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.SelfAddressStreet)</dt>
            <dd>
                @if (string.IsNullOrEmpty(Model.OwnerDepartment.SelfAddressStreet))
                {
                    <i>Отсутствует</i>
                }
                else
                {
                    @Model.OwnerDepartment.SelfAddressStreet
                }
            </dd>
        </dl>
        <dl class="col-sm-6">
            <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.SelfAddressRegion)</dt>
            <dd>
                @if (string.IsNullOrEmpty(Model.OwnerDepartment.SelfAddressRegion))
                {
                    <i>Отсутствует</i>
                }
                else
                {
                    @Model.OwnerDepartment.SelfAddressRegion
                }
            </dd>
            <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.SelfAddressCity)</dt>
            <dd>
                @if (string.IsNullOrEmpty(Model.OwnerDepartment.SelfAddressCity))
                {
                    <i>Отсутствует</i>
                }
                else
                {
                    @Model.OwnerDepartment.SelfAddressCity
                }
            </dd>
            <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.SelfAddressHouse)</dt>
            <dd>
                @if (string.IsNullOrEmpty(Model.OwnerDepartment.SelfAddressHouse))
                {
                    <i>Отсутствует</i>
                }
                else
                {
                    @Model.OwnerDepartment.SelfAddressHouse
                }
            </dd>
        </dl>
    </div>
</div>

<div class="panel panel-primary rr-resource-address-panel">
    <div class="panel-heading">Адрес управляющего или адрес управляющей организации-владельца</div>

    @if (Model.OwnerDepartment.СontrolOrgAddressesAreEqualSelfAddress)
    {
        <div class="panel-body">
            <div class="text-center">
                @Html.DisplayNameFor(r => r.OwnerDepartment.СontrolOrgAddressesAreEqualSelfAddress)
            </div>
        </div>
    }
    else
    {
        <div class="panel-body rr-detail-resource-panel-body">
            <dl class="col-sm-6">
                <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.ControlOrgAddressIndex)</dt>
                <dd>
                    @if (string.IsNullOrEmpty(Model.OwnerDepartment.ControlOrgAddressIndex))
                    {
                        <i>Отсутствует</i>
                    }
                    else
                    {
                        @Model.OwnerDepartment.ControlOrgAddressIndex
                    }
                </dd>
                <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.ControlOrgAddressArea)</dt>
                <dd>
                    @if (string.IsNullOrEmpty(Model.OwnerDepartment.ControlOrgAddressArea))
                    {
                        <i>Отсутствует</i>
                    }
                    else
                    {
                        @Model.OwnerDepartment.ControlOrgAddressArea
                    }
                </dd>
                <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.ControlOrgAddressStreet)</dt>
                <dd>
                    @if (string.IsNullOrEmpty(Model.OwnerDepartment.ControlOrgAddressStreet))
                    {
                        <i>Отсутствует</i>
                    }
                    else
                    {
                        @Model.OwnerDepartment.ControlOrgAddressStreet
                    }
                </dd>
            </dl>
            <dl class="col-sm-6">
                <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.ControlOrgAddressRegion)</dt>
                <dd>
                    @if (string.IsNullOrEmpty(Model.OwnerDepartment.ControlOrgAddressRegion))
                    {
                        <i>Отсутствует</i>
                    }
                    else
                    {
                        @Model.OwnerDepartment.ControlOrgAddressRegion
                    }
                </dd>
                <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.ControlOrgAddressCity)</dt>
                <dd>
                    @if (string.IsNullOrEmpty(Model.OwnerDepartment.ControlOrgAddressCity))
                    {
                        <i>Отсутствует</i>
                    }
                    else
                    {
                        @Model.OwnerDepartment.ControlOrgAddressCity
                    }
                </dd>
                <dt>@Html.DisplayNameFor(r => r.OwnerDepartment.ControlOrgAddressHouse)</dt>
                <dd>
                    @if (string.IsNullOrEmpty(Model.OwnerDepartment.ControlOrgAddressHouse))
                    {
                        <i>Отсутствует</i>
                    }
                    else
                    {
                        @Model.OwnerDepartment.ControlOrgAddressHouse
                    }
                </dd>
            </dl>
        </div>
    }
</div>
</div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Должностные лица</div>
    @if (Model.ResourceOwnerPersons != null && Model.ResourceOwnerPersons.Any(r => !r.Deleted))
    {
        <ul class="list-group rr-owner-persons">
            @for (var j = 0; j < Model.ResourceOwnerPersons.Count; j++)
            {
                if (Model.ResourceOwnerPersons[j].Deleted)
                {
                    continue;
                }

                <li class="list-group-item clearfix rr-col-sm-no-side-padding-always">
                    <dl class="col-sm-6">
                        <dt>@Html.DisplayNameFor(r => r.ResourceOwnerPersons[j].Post)</dt>
                        <dd>
                            @if (string.IsNullOrEmpty(Model.ResourceOwnerPersons[j].Post))
                            {
                                <i>Отсутствует</i>
                            }
                            else
                            {
                                @Model.ResourceOwnerPersons[j].Post
                            }
                        </dd>
                        <dt>@Html.DisplayNameFor(r => r.ResourceOwnerPersons[j].Name)</dt>
                        <dd>
                            @if (string.IsNullOrEmpty(Model.ResourceOwnerPersons[j].Name))
                            {
                                <i>Отсутствует</i>
                            }
                            else
                            {
                                @Model.ResourceOwnerPersons[j].Name
                            }
                        </dd>
                    </dl>
                    <dl class="col-sm-6">
                        <dt>@Html.DisplayNameFor(r => r.ResourceOwnerPersons[j].Surname)</dt>
                        <dd>
                            @if (string.IsNullOrEmpty(Model.ResourceOwnerPersons[j].Surname))
                            {
                                <i>Отсутствует</i>
                            }
                            else
                            {
                                @Model.ResourceOwnerPersons[j].Surname
                            }
                        </dd>
                        <dt>@Html.DisplayNameFor(r => r.ResourceOwnerPersons[j].Patronimic)</dt>
                        <dd>
                            @if (string.IsNullOrEmpty(Model.ResourceOwnerPersons[j].Patronimic))
                            {
                                <i>Отсутствует</i>
                            }
                            else
                            {
                                @Model.ResourceOwnerPersons[j].Patronimic
                            }
                        </dd>
                    </dl>
                    <div class="clearfix"></div>
                    <div class="panel panel-primary rr-resource-person-panel">
                        <div class="panel-heading">Реквизиты актов о возложении соответствующих полномочий</div>
                        @if (Model.ResourceOwnerPersons[j].Acts != null && Model.ResourceOwnerPersons[j].Acts.Any(r => !r.Deleted))
                        {
                            <ul class="list-group rr-owner-person-acts">
                                @for (var i = 0; i < Model.ResourceOwnerPersons[j].Acts.Count; i++)
                                {
                                    if (Model.ResourceOwnerPersons[j].Acts[i].Deleted)
                                    {
                                        continue;
                                    }
                                    <li class="list-group-item clearfix rr-col-sm-no-side-padding-always">
                                        <div>
                                            <dl class="col-sm-6">
                                                <dt>@Html.DisplayNameFor(r => r.ResourceOwnerPersons[j].Acts[i].ActType)</dt>
                                                <dd>
                                                    @if (string.IsNullOrEmpty(Model.ResourceOwnerPersons[j].Acts[i].ActType))
                                                    {
                                                        <i>Отсутствует</i>
                                                    }
                                                    else
                                                    {
                                                        @Model.ResourceOwnerPersons[j].Acts[i].ActType
                                                    }
                                                </dd>
                                                <dt>@Html.DisplayNameFor(r => r.ResourceOwnerPersons[j].Acts[i].ActDate)</dt>
                                                <dd>
                                                    @if (Model.ResourceOwnerPersons[j].Acts[i].ActDate == null)
                                                    {
                                                        <i>Отсутствует</i>
                                                    }
                                                    else
                                                    {
                                                        @Model.ResourceOwnerPersons[j].Acts[i].ActDate.Value.ToString("dd.MM.yyyy", CultureInfo.CurrentCulture)
                                                    }
                                                </dd>
                                            </dl>

                                            <dl class="col-xs-12 col-sm-6">
                                                <dt>@Html.DisplayNameFor(r => r.ResourceOwnerPersons[j].Acts[i].ActName)</dt>
                                                <dd>
                                                    @if (string.IsNullOrEmpty(Model.ResourceOwnerPersons[j].Acts[i].ActName))
                                                    {
                                                        <i>Отсутствует</i>
                                                    }
                                                    else
                                                    {
                                                        @Model.ResourceOwnerPersons[j].Acts[i].ActName
                                                    }
                                                </dd>
                                            </dl>
                                            <dl class="col-xs-12 col-sm-6">
                                                <dt>@Html.DisplayNameFor(r => r.ResourceOwnerPersons[j].Acts[i].ActNumber)</dt>
                                                <dd>
                                                    @if (string.IsNullOrEmpty(Model.ResourceOwnerPersons[j].Acts[i].ActNumber))
                                                    {
                                                        <i>Отсутствует</i>
                                                    }
                                                    else
                                                    {
                                                        @Model.ResourceOwnerPersons[j].Acts[i].ActNumber
                                                    }
                                                </dd>
                                            </dl>
                                        </div>
                                        @if (Model.ResourceOwnerPersons[j].Acts[i].IdFile != null)
                                        {
                                            <div class="clearfix"></div>
                                            <div class="col-xs-12 pull-left text-info rr-act-file-link">
                                                <a href="@Url.Action("LoadFile", "Resource", new
                                                         {
                                                             Model.ResourceOwnerPersons[j].Acts[i].IdFile
                                                         })">Скачать</a>
                                            </div>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <div class="panel-body">
                                <div class="text-center">
                                    <i>Отсутствуют</i>
                                </div>
                            </div>
                        }
                    </div>
                </li>

            }
        </ul>
    }
    else
    {
        <div class="panel-body">
            <div class="text-center">
                <i>Отсутствуют</i>
            </div>
        </div>
    }
</div>