@model RequestsForRights.Web.Models.ViewModels.ResourceIndexViewModel

@{
    ViewBag.Title = "Справочник информационных ресурсов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Информационные ресурсы</h2>

@Html.Partial("ErrorAlert")
@Html.Partial("FilterControl", Model.FilterOptions)
@Html.Partial("DataTable", Model)
@Html.Partial("DeleteModal", new
{
    Caption = "Подтвердите блокировку",
    Description = "Вы действительно хотите блокировать этот ресурс?"
})

@section scripts {
    @Scripts.Render("~/bundles/rr-index.common")
}