@using RequestsForRights.Infrastructure.Extensions
@model RequestsForRights.Models.ViewModels.ResourceViewModel

@{
    var operatorActIndex = -1;
    if (ViewData.Keys.Contains("OperatorActIndex"))
    {
        int.TryParse(ViewData["OperatorActIndex"].ToString(), out operatorActIndex);
    }
    if (Model.Resource.ResourceOperatorActs[operatorActIndex].Deleted)
    {
        return;
    }
}

<li class="list-group-item clearfix rr-operator-act rr-col-sm-no-side-padding-always">
    @Html.HiddenFor(r => r.Resource.ResourceOperatorActs[operatorActIndex].IdResourceOperatorAct)
    <div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.
                    ResourceOperatorActs[operatorActIndex].ActType,
                    new {@class = "control-label"})
                <div>
                    @Html.TextBoxFor(r => r.Resource.
                        ResourceOperatorActs[operatorActIndex].ActType,
                        new {@class = "form-control", placeholder = "Введите вид акта"})
                    @Html.ValidationMessageFor(r => r.Resource.
                        ResourceOperatorActs[operatorActIndex].ActType)
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.
                    ResourceOperatorActs[operatorActIndex].ActName,
                    new {@class = "control-label"})
                <div>
                    @Html.TextBoxFor(r => r.Resource.
                        ResourceOperatorActs[operatorActIndex].ActName,
                        new {@class = "form-control", placeholder = "Введите наименование акта"})
                    @Html.ValidationMessageFor(r => r.Resource.
                        ResourceOperatorActs[operatorActIndex].ActName)
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div>
        <div class="col-xs-12 col-sm-6 rr-resource-date">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.
                ResourceOperatorActs[operatorActIndex].ActDate,
                new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(r => r.Resource.
                             ResourceOperatorActs[operatorActIndex].ActDate, "{0:dd.MM.yyyy}",
                    new { @class = "form-control", placeholder = "Введите дату акта" })
                    @Html.ValidationMessageFor(r => r.Resource.
                    ResourceOperatorActs[operatorActIndex].ActDate)
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.
                ResourceOperatorActs[operatorActIndex].ActNumber,
                new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(r => r.Resource.
                    ResourceOperatorActs[operatorActIndex].ActNumber,
                    new { @class = "form-control", placeholder = "Введите номер акта" })
                    @Html.ValidationMessageFor(r => r.Resource.
                    ResourceOperatorActs[operatorActIndex].ActNumber)
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">

        <div class="rr-act-file form-group col-md-10 col-sm-9 col-xs-12 rr-col-sm-no-side-padding-always">
            <div class="rr-id-file">
                @Html.HiddenFor(r => r.Resource.
                    ResourceOperatorActs[operatorActIndex].IdFile)
            </div>
            <div>
                <label class="btn btn-default pull-left col-xs-12">
                    <span class="glyphicon glyphicon-link"></span>
                    Загрузить файл
                    <input type="file" name="Files.ResourceOperatorActs[@(operatorActIndex)]"
                           id="ResourceOperatorActs_@(operatorActIndex)__File"/>
                </label>
                <div class="rr-act-file-name col-md-9 col-sm-8 col-xs-12 pull-left text-info"></div>
            </div>
            <div class="clearfix"></div>
            <div>
                @Html.ValidationMessage("Files.ResourceOperatorActs[" + operatorActIndex + "]")
            </div>
            @if (Model.Resource.
                ResourceOperatorActs[operatorActIndex].IdFile != null)
            {
                <div class="rr-act-file-link pull-left text-info">
                    <a href="@Url.Action("LoadFile", "Resource", new
                             {
                                 Model.Resource.
                                     ResourceOperatorActs[operatorActIndex].IdFile
                             })">Скачать</a>
                </div>
            }
        </div>
        <div>
            <button name="deleteOperatorAct" class="btn btn-danger pull-right">Удалить акт</button>
        </div>
    </div>
</li>