@using RequestsForRights.Infrastructure.Extensions
@model RequestsForRights.Models.ViewModels.ResourceViewModel

@{
    var operatorPersonIndex = -1;
    if (ViewData.Keys.Contains("OperatorPersonIndex"))
    {
        int.TryParse(ViewData["OperatorPersonIndex"].ToString(), out operatorPersonIndex);
    }
    var operatorPersonActIndex = -1;
    if (ViewData.Keys.Contains("OperatorPersonActIndex"))
    {
        int.TryParse(ViewData["OperatorPersonActIndex"].ToString(), out operatorPersonActIndex);
    }
    if (Model.Resource.ResourceOperatorPersons[operatorPersonIndex].Deleted)
    {
        return;
    }
}

<li class="list-group-item clearfix rr-operator-person-act rr-col-sm-no-side-padding-always">
    @Html.HiddenFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
        Acts[operatorPersonActIndex].IdResourceOperatorPersonAct)
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            @Html.RequiredLabelFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                Acts[operatorPersonActIndex].ActType,
                new {@class = "control-label"})
            <div>
                @Html.TextBoxFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                    Acts[operatorPersonActIndex].ActType,
                    new {@class = "form-control", placeholder = "Введите вид акта"})
                @Html.ValidationMessageFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                    Acts[operatorPersonActIndex].ActType)
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            @Html.RequiredLabelFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                Acts[operatorPersonActIndex].ActName,
                new {@class = "control-label"})
            <div>
                @Html.TextBoxFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                    Acts[operatorPersonActIndex].ActName,
                    new {@class = "form-control", placeholder = "Введите наименование акта"})
                @Html.ValidationMessageFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                    Acts[operatorPersonActIndex].ActName)
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 rr-resource-date">
        <div class="form-group">
            @Html.RequiredLabelFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                Acts[operatorPersonActIndex].ActDate,
                new {@class = "control-label"})
            <div>
                @Html.TextBoxFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                             Acts[operatorPersonActIndex].ActDate, "{0:dd.MM.yyyy}",
                    new {@class = "form-control", placeholder = "Введите дату акта"})
                @Html.ValidationMessageFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                    Acts[operatorPersonActIndex].ActDate)
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            @Html.RequiredLabelFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                Acts[operatorPersonActIndex].ActNumber,
                new {@class = "control-label"})
            <div>
                @Html.TextBoxFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                    Acts[operatorPersonActIndex].ActNumber,
                    new {@class = "form-control", placeholder = "Введите номер акта"})
                @Html.ValidationMessageFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                    Acts[operatorPersonActIndex].ActNumber)
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">
        <div class="rr-act-file">
            <div class="rr-id-file">
                @Html.HiddenFor(r => r.Resource.ResourceOperatorPersons[operatorPersonIndex].
                    Acts[operatorPersonActIndex].IdFile)
            </div>
            <label class="btn btn-default pull-left">
                Загрузить файл
                <input type="file" name="File.ResourceOperatorPersons[@(operatorPersonIndex)].Acts[@(operatorPersonActIndex)]"
                       id="Resource_ResourceOperatorPersons_@(operatorPersonIndex)__Acts_@(operatorPersonActIndex)" />
            </label>
            <div class="rr-act-file-name pull-left text-info"></div>
            @if (Model.Resource.ResourceOperatorPersons[operatorPersonIndex].
                Acts[operatorPersonActIndex].IdFile != default(int))
            {
                <div class="rr-act-file-link pull-left text-info">
                    <a href="@Url.Action("LoadFile", "Resource", new
                             {
                                 Model.Resource.ResourceOperatorPersons[operatorPersonIndex].
                                     Acts[operatorPersonActIndex].IdFile
                             })"></a>
                </div>
            }
        </div>
        <button name="deleteOperatorPersonAct" class="btn btn-danger pull-right">Удалить акт</button>
    </div>
</li>