@model RequestsForRights.Models.ViewModels.ResourceViewModel
    
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Сведения о ресурсе <span class="badge rr-badge">0</span></a>
        </li>
        <li role="presentation">
            <a href="#rights" aria-controls="rights" role="tab" data-toggle="tab">Права <span class="badge rr-badge">0</span></a>
        </li>
        <li role="presentation">
            <a href="#owner" aria-controls="owner" role="tab" data-toggle="tab">Владелец <span class="badge rr-badge">0</span></a>
        </li>
        <li role="presentation">
            <a href="#operator" aria-controls="operator" role="tab" data-toggle="tab">Оператор <span class="badge rr-badge">0</span></a>
        </li>
        <li role="presentation">
            <a href="#acts" aria-controls="acts" role="tab" data-toggle="tab">Акты <span class="badge rr-badge">0</span></a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active rr-tab-pane" id="general">
            @Html.Partial("ResourceFormGeneral")
        </div>
        <div role="tabpanel" class="tab-pane fade rr-tab-pane" id="rights">
            @Html.Partial("ResourceFormRights")
        </div>
        <div role="tabpanel" class="tab-pane fade rr-tab-pane" id="owner">
            @Html.Partial("ResourceFormOwner")
        </div>
        <div role="tabpanel" class="tab-pane fade rr-tab-pane" id="operator">
            @Html.Partial("ResourceFormOperator")
        </div>
        <div role="tabpanel" class="tab-pane fade rr-tab-pane" id="acts">
            @Html.Partial("ResourceFormActs")
        </div>
    </div>
</div>

