@using RequestsForRights.Infrastructure.Extensions
@model RequestsForRights.Models.ViewModels.ResourceViewModel
@{
    Layout = null;
}

<div class="panel panel-primary rr-resource-operator">
    <div class="panel-heading">Общие сведения</div>
    <div class="panel-body rr-col-sm-no-side-padding-always">
    <div class="col-xs-12">
        <div class="form-group">
            @Html.RequiredLabelFor(r => r.Resource.IdOperatorDepartment, new {@class = "control-label"})
            @Html.DropDownListFor(r => r.Resource.IdOperatorDepartment,
                new SelectList(Model.Departments, "IdDepartment", "Name", Model.Resource.IdOperatorDepartment),
                "Выберите департамент-оператор",
                new {@class = "form-control"})
            @Html.ValidationMessageFor(r => r.Resource.IdOperatorDepartment)
        </div>
    </div>
        <div class="col-xs-12">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.TaxPayerNumber,
            new { @class = "control-label" })
                @Html.TextBoxFor(r => r.Resource.OperatorDepartment.TaxPayerNumber,
            new { @class = "form-control", placeholder = "Введите идентификационный номер налогоплательщика" })
                @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.TaxPayerNumber)
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.OfficialNameLongRu,
            new { @class = "control-label" })
                @Html.TextBoxFor(r => r.Resource.OperatorDepartment.OfficialNameLongRu,
            new { @class = "form-control", placeholder = "Введите полное наименование оператора на русском языке" })
                @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.OfficialNameLongRu)
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.OfficialNameLongEn,
            new { @class = "control-label" })
                @Html.TextBoxFor(r => r.Resource.OperatorDepartment.OfficialNameLongEn,
            new { @class = "form-control", placeholder = "Введите полное наименование оператора на английском языке" })
                @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.OfficialNameLongEn)
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.OfficialNameShortRu,
            new { @class = "control-label" })
                @Html.TextBoxFor(r => r.Resource.OperatorDepartment.OfficialNameShortRu,
            new { @class = "form-control", placeholder = "Введите сокращенное наименование оператора на русском языке" })
                @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.OfficialNameShortRu)
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.OfficialNameShortEn,
            new { @class = "control-label" })
                @Html.TextBoxFor(r => r.Resource.OperatorDepartment.OfficialNameShortEn,
            new { @class = "form-control", placeholder = "Введите сокращенное наименование оператора на английском языке" })
                @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.OfficialNameShortEn)
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="panel panel-primary rr-resource-address-panel">
            <div class="panel-heading">Адрес постоянно действующего исполнительного органа оператора ИС</div>
            <div class="panel-body rr-col-sm-no-side-padding-always">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.SelfAddressIndex,
                    new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(r => Model.Resource.OperatorDepartment.SelfAddressIndex,
                        new { @class = "form-control", placeholder = "Введите индекс" })
                            @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.SelfAddressIndex)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.SelfAddressRegion,
                    new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(r => Model.Resource.OperatorDepartment.SelfAddressRegion,
                        new { @class = "form-control", placeholder = "Введите регион" })
                            @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.SelfAddressRegion)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.SelfAddressArea,
                    new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(r => Model.Resource.OperatorDepartment.SelfAddressArea,
                        new { @class = "form-control", placeholder = "Введите район" })
                            @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.SelfAddressArea)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.SelfAddressCity,
                    new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(r => Model.Resource.OperatorDepartment.SelfAddressCity,
                        new { @class = "form-control", placeholder = "Введите город" })
                            @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.SelfAddressCity)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.SelfAddressStreet,
                    new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(r => Model.Resource.OperatorDepartment.SelfAddressStreet,
                        new { @class = "form-control", placeholder = "Введите улицу" })
                            @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.SelfAddressStreet)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.SelfAddressHouse,
                    new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(r => Model.Resource.OperatorDepartment.SelfAddressHouse,
                        new { @class = "form-control", placeholder = "Введите дом" })
                            @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.SelfAddressHouse)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary rr-resource-address-panel">
            <div class="panel-heading">Адрес управляющего или адрес управляющей организации-оператора</div>
            <div class="panel-body rr-col-sm-no-side-padding-always">
                <div class="col-xs-12">
                    <div class="checkbox-inline rr-resource-equal-address-checkbox">
                        @Html.CheckBoxFor(r => r.Resource.OperatorDepartment.СontrolOrgAddressesAreEqualSelfAddress)
                        @Html.LabelFor(r => r.Resource.OperatorDepartment.СontrolOrgAddressesAreEqualSelfAddress,
            new { @class = "control-label" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.ControlOrgAddressIndex,
                    new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(r => Model.Resource.OperatorDepartment.ControlOrgAddressIndex,
                        new { @class = "form-control", placeholder = "Введите индекс" })
                            @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.ControlOrgAddressIndex)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.ControlOrgAddressRegion,
                    new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(r => Model.Resource.OperatorDepartment.ControlOrgAddressRegion,
                        new { @class = "form-control", placeholder = "Введите регион" })
                            @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.ControlOrgAddressRegion)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.ControlOrgAddressArea,
                    new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(r => Model.Resource.OperatorDepartment.ControlOrgAddressArea,
                        new { @class = "form-control", placeholder = "Введите район" })
                            @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.ControlOrgAddressArea)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.ControlOrgAddressCity,
                    new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(r => Model.Resource.OperatorDepartment.ControlOrgAddressCity,
                        new { @class = "form-control", placeholder = "Введите город" })
                            @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.ControlOrgAddressCity)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.ControlOrgAddressStreet,
                    new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(r => Model.Resource.OperatorDepartment.ControlOrgAddressStreet,
                        new { @class = "form-control", placeholder = "Введите улицу" })
                            @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.ControlOrgAddressStreet)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.OperatorDepartment.ControlOrgAddressHouse,
                    new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(r => Model.Resource.OperatorDepartment.ControlOrgAddressHouse,
                        new { @class = "form-control", placeholder = "Введите дом" })
                            @Html.ValidationMessageFor(r => r.Resource.OperatorDepartment.ControlOrgAddressHouse)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Должностные лица</div>
    <ul class="list-group rr-operator-persons">
        @if (Model.Resource.ResourceOperatorPersons != null)
        {
            for (var i = 0; i < Model.Resource.ResourceOperatorPersons.Count; i++)
            {
                @Html.Partial("OperatorPersonEditor", Model, new ViewDataDictionary
                {
                    {"OperatorPersonIndex", i}
                })
            }
        }
    </ul>
    <div class="text-center rr-add-operator-person-panel">
        <button name="addOperatorPerson" class="btn btn-success btn-default">Добавить должностное лицо</button>
    </div>
</div>
