@using RequestsForRights.Web.Infrastructure.Extensions
@model RequestsForRights.Web.Models.ViewModels.ResourceViewModel

@{
    Layout = null;
}

<div class="panel panel-primary">
    <div class="panel-heading">Общие сведения</div>
    <div class="panel-body rr-col-sm-no-side-padding-always">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.Name, new { @class = "control-label" })
                @Html.TextBoxFor(r => r.Resource.Name,
                    new { @class = "form-control", placeholder = "Введите наименование ресурса" })
                @Html.ValidationMessageFor(r => r.Resource.Name)
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.InnControlSubject, new {@class = "control-label"})
                @Html.TextBoxFor(r => r.Resource.InnControlSubject,
                    new {@class = "form-control", placeholder = "ИНН субъекта контроля"})
                @Html.ValidationMessageFor(r => r.Resource.Description)
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.IdResourceGroup, new { @class = "control-label" })
                @Html.DropDownListFor(r => r.Resource.IdResourceGroup,
                    new SelectList(Model.ResourceGroups, "IdResourceGroup", "Name"),
                    "Выберите категорию ресурсов",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(r => r.Resource.IdResourceGroup)
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.EmailAdministrator, new {@class = "control-label"})
                @Html.TextBoxFor(r => r.Resource.EmailAdministrator,
                    new {@class = "form-control", placeholder = "Почтовый адрес администратора"})
                @Html.ValidationMessageFor(r => r.Resource.EmailAdministrator)
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.Description, new {@class = "control-label"})
                @Html.TextAreaFor(r => r.Resource.Description,
                    new {@class = "form-control", placeholder = "Введите описание ресурса", rows = "4"})
                @Html.ValidationMessageFor(r => r.Resource.Description)
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Краткое описание характера информации, размещенной в информационной системе</div>
    <div class="panel-body rr-col-sm-no-side-padding-always">
        <div class="col-xs-12">
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.IdResourceInformationType, new { @class = "control-label" })
                @Html.DropDownListFor(r => r.Resource.IdResourceInformationType,
                             new SelectList(Model.ResourceInformationTypes, "IdResourceInformationType", "Name"),
                    "Выберите вид информации",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(r => r.Resource.IdResourceInformationType)
            </div>
            <div class="form-group">
                @Html.RequiredLabelFor(r => r.Resource.PersonalInfoDescription, new { @class = "control-label" })
                @Html.TextAreaFor(r => r.Resource.PersonalInfoDescription,
                    new { @class = "form-control", placeholder = "Введите сведения о персональных данных", rows = "4" })
                @Html.ValidationMessageFor(r => r.Resource.PersonalInfoDescription)
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 rr-resource-has-not-internet-access-checkbox">
    <div class="checkbox-inline">
        @Html.CheckBoxFor(r => r.Resource.HasNotInternetAccess)
        @Html.LabelFor(r => r.Resource.HasNotInternetAccess, new { @class = "control-label" })
    </div>
</div>

<div class="panel panel-primary rr-internet-addresses-wrapper">
    <div class="panel-heading">Сетевые адреса в сети "Интернет"</div>
    <ul class="list-group rr-internet-addresses">
        @if (Model.Resource.ResourceInternetAddresses != null)
        {
            for (var i = 0; i < Model.Resource.ResourceInternetAddresses.Count; i++)
            {
                @Html.Partial("InternetAddressEditor", Model, new ViewDataDictionary
                {
                    {"InternetAddressIndex", i}
                })
            }
        }
    </ul>
    <div class="text-center rr-add-internet-address-panel">
        <button name="addInternetAddress" class="btn btn-success btn-default">Добавить адрес</button>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Сведения о территориальном размещении</div>
    <ul class="list-group rr-device-addresses">
        @if (Model.Resource.ResourceDeviceAddresses != null)
        {
            for (var i = 0; i < Model.Resource.ResourceDeviceAddresses.Count; i++)
            {
                @Html.Partial("DeviceAddressEditor", Model, new ViewDataDictionary
                {
                    {"DeviceAddressIndex", i}
                })
            }
        }
    </ul>
    <div class="text-center rr-add-device-address-panel">
        <button name="addDeviceAddress" class="btn btn-success btn-default">Добавить сведения</button>
    </div>
</div>
