@using RequestsForRights.Infrastructure.Extensions
@model RequestsForRights.Models.ViewModels.ResourceViewModel
    
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Сведения о ресурсе <span class="badge rr-badge">0</span></a>
        </li>
        <li role="presentation">
            <a href="#rights" aria-controls="rights" role="tab" data-toggle="tab">Права <span class="badge rr-badge">0</span></a>
        </li>
        <li role="presentation">
            <a href="#owner" aria-controls="owner" role="tab" data-toggle="tab">Владелец <span class="badge rr-badge">0</span></a>
        </li>
        <li role="presentation">
            <a href="#operator" aria-controls="operator" role="tab" data-toggle="tab">Оператор <span class="badge rr-badge">0</span></a>
        </li>
        <li role="presentation">
            <a href="#acts" aria-controls="acts" role="tab" data-toggle="tab">Акты <span class="badge rr-badge">0</span></a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active rr-tab-pane" id="general">
            <div class="panel panel-primary">
                <div class="panel-heading">Общие сведения</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.Name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(r => r.Resource.Name,
                                    new { @class = "form-control", placeholder = "Введите наименование ресурса" })
                            @Html.ValidationMessageFor(r => r.Resource.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.Description, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(r => r.Resource.Description,
                                    new { @class = "form-control", placeholder = "Введите описание ресурса", rows = "4" })
                            @Html.ValidationMessageFor(r => r.Resource.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.IdResourceGroup, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(r => r.Resource.IdResourceGroup,
                                new SelectList(Model.ResourceGroups, "IdResourceGroup", "Name"),
                                    "Выберите категорию ресурсов",
                                    new { @class = "form-control" })
                            @Html.ValidationMessageFor(r => r.Resource.IdResourceGroup)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.RequiredLabelFor(r => r.Resource.IdDepartment, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(r => r.Resource.IdDepartment,
                                new SelectList(Model.OwnerDepartments, "IdDepartment", "Name"),
                                    "Выберите департамент-владелец",
                                    new { @class = "form-control" })
                            @Html.ValidationMessageFor(r => r.Resource.IdDepartment)
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Сетевые адреса в сети "Интернет"</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Сведения о территориальном размещении</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade rr-tab-pane" id="rights">
            <div class="text-center rr-rights-error">
                @Html.ValidationMessageFor(r => r.Resource.ResourceRights)
            </div>
            <ul class="list-group rr-rights">
                @if (Model.Resource.ResourceRights != null)
                {
                    for (var i = 0; i < Model.Resource.ResourceRights.Count; i++)
                    {
                        ViewBag.RightIndex = i;
                        @Html.Partial("RightEditor", Model, new ViewDataDictionary
                            {
                                {"RightIndex", i}
                            })
                    }
                }
            </ul>
            <div class="text-center rr-add-right-panel">
                <button name="addRight" class="btn btn-success btn-default">Добавить право</button>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade rr-tab-pane" id="owner">
            <div class="panel panel-primary">
                <div class="panel-heading">Общие сведения</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Заголовок</dt>
                        <dd>Описание</dd>
                        <dt>Заголовок</dt>
                        <dd>Описание</dd>
                    </dl>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Должностные лица</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade rr-tab-pane" id="operator">
            <div class="panel panel-primary">
                <div class="panel-heading">Общие сведения</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Заголовок</dt>
                        <dd>Описание</dd>
                        <dt>Заголовок</dt>
                        <dd>Описание</dd>
                    </dl>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Должностные лица</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade rr-tab-pane" id="acts">
            <div class="panel panel-primary">
                <div class="panel-heading">Правовые акты, определяющие оператора ИС</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Правовые акты, определяющие порядок размещения и использования информации, размещенной в ИС</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Правовые акты, устанавливающие полномочия размещения субъектами контроля информации в ИС</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                    <li class="list-group-item">
                        <dl class="dl-horizontal">
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                            <dt>Заголовок</dt>
                            <dd>Описание</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

