@model RequestsForRights.Models.ModelViews.RequestViewModel<RequestsForRights.Models.Models.RequestUserModel>

@{
    ViewBag.Title = "Добавить заявку на подключение нового сотрудника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новая заявка на подключение сотрудника</h2>

@using (Html.BeginForm("Create", "Request", new {}, FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.Hidden("Request.IdRequestType", 1)
    <div class="text-center">
        @Html.ValidationSummary(true)
    </div>

    @Html.Partial("RequestForm")

    <div class="text-center rr-edit-panel">
        <div class="btn-group" role="group" aria-label="Панель действий">
            <a href="@Url.Action("Index", "Request")"
                class="btn btn-default"
                title="Вернуться к перечню"
                aria-label="Назад">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
                Назад
            </a>
            <button class="btn btn-default rr-save-button">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Сохранить
            </button>
        </div>
    </div>
}
        

@section scripts {
    @Scripts.Render("~/bundles/rr-request.common")
}
