@model RequestsForRights.Models.ViewModels.RequestViewModel<RequestsForRights.Models.Models.RequestUserModel>

@{
    ViewBag.Title = "Добавить заявку на подключение нового сотрудника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новая заявка на подключение сотрудника</h2>

@using (Html.BeginForm("Create", "Request", new { IdRequestType = 1 }, FormMethod.Post,
    new { @class = "form-horizontal", id = "rr-request-form" }))
{
    @Html.Hidden("RequestModel.IdRequestType", 1)
    <div class="text-center">
        @Html.ValidationSummary(true)
    </div>

    @Html.Partial("RequestForm")
    @Html.Partial("Request/EditPanels/Create")
}   

@section scripts {
    @Scripts.Render("~/bundles/rr-request.common")
    @Scripts.Render("~/bundles/rr-request.adduser")
}
