<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Реестр учета прав доступа и информационных ресурсов</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/Favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/Favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/Favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/Favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/Favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/Favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/Favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/Favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/Favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/Favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/Favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/Favicon/favicon-16x16.png">
    <link rel="manifest" href="/Content/Favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/Favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top rr-main-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" title="Перейти на главную">
                    <img alt="Реестр учета прав доступа и информационных ресурсов" src="~/Content/Images/ic_polymer_black_18dp.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Перечень заявок <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu requests-menu">
                            <li>@Html.ActionLink("Все заявки", "Index", "Request", null, new { id = "rr-dropdown-menu-all-requests" })</li>
                            <li>@Html.ActionLink("Мои заявки", "Index", "Request", null, new { id = "rr-dropdown-menu-my-requests" })</li>
                            <li>@Html.ActionLink("Непросмотренные", "Index", "Request", null, new { id = "rr-dropdown-menu-not-seen-requests" })</li>
                            <li role="separator" class="divider"></li>
                            @Html.Action("RequestsByStatesMenuItems", "Request")
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Подать заявку <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @Html.Action("RequestCreateMenuItems", "Request")
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Справочники <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Информационные ресурсы", "Index", "Resource")</li>
                            <li>@Html.ActionLink("Категории ресурсов", "Index", "ResourceGroup")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Отчеты <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Права конкретного сотрудника", "Index", "ReportUserRights")</li>
                            <li>@Html.ActionLink("Права на информационный ресурс", "Index", "ReportResourceRights")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Руководство", "Help", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/rr-common")
    @RenderSection("scripts", required: false)
</body>
</html>
