@using RequestsForRights.Web.Infrastructure.Extensions
@model RequestsForRights.Domain.Entities.ResourceGroup

@{
    ViewBag.Title = "Добавить категорию ресурсов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новая категорию ресурсов</h2>

@using (Html.BeginForm("Create", "ResourceGroup", new { }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="text-center">
        @Html.ValidationSummary(true)
    </div>
    <div class="form-group">
        @Html.RequiredLabelFor(r => r.Name, new { @class = "col-sm-3 col-md-2 control-label" })
        <div class="col-sm-9 col-md-10">
            @Html.TextBoxFor(r => r.Name, new { @class = "form-control", placeholder = "Введите наименование категории ресурсов" })
            @Html.ValidationMessageFor(r => r.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.RequiredLabelFor(r => r.Description, new { @class = "col-sm-3 col-md-2 control-label" })
        <div class="col-sm-9 col-md-10">
            @Html.TextAreaFor(r => r.Description,
                new { @class = "form-control", placeholder = "Введите описание категории ресурсов", rows="4" })
            @Html.ValidationMessageFor(r => r.Description)
        </div>
    </div>
    <div class="text-center rr-edit-panel">
        <div class="btn-group" role="group" aria-label="Панель действий">
            <a href="@Url.Action("Index")"
               class="btn btn-default"
               title="Вернуться к перечню категорий ресурсов"
               aria-label="Назад">
                <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
                Назад
            </a>
            <button class="btn btn-default rr-save-button"
                    title="Сохранить категорию ресурсов"
                    aria-label="Сохранить">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                Сохранить
            </button>
        </div>
    </div>
}