@model RequestsForRightsV2.Models.ModelViews.ResourceGroupIndexModelView

<div id="main-table-wrapper" class="rr-table-wrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Описание</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resource in Model.ResourceGroups)
            {
                <tr>
                    <td>@resource.Name</td>
                    <td>@resource.Description</td>
                    <td>
                        <div class="btn-group btn-group-xs" role="group" aria-label="Панель редактирования записи">
                            <a href="@Url.Action("Detail", new { idResourceGroup = resource.IdResourceGroup })"
                               class="btn btn-default glyphicon glyphicon-eye-open"
                               title="Просмотреть запись"
                               aria-label="Просмотреть запись"></a>
                            <a href="@Url.Action("Update", new {idResourceGroup = resource.IdResourceGroup})"
                               class="btn btn-default glyphicon glyphicon-pencil"
                               title="Изменить запись"
                               aria-label="Изменить запись"></a>
                            <a href="@Url.Action("Delete", new { idResourceGroup = resource.IdResourceGroup })"
                               class="btn btn-danger glyphicon glyphicon-remove rr-delete-item-button"
                               title="Удалить запись"
                               aria-label="Удалить запись"></a>

                            @*@Ajax.ActionLink(" ", "Delete", new { idResourceGroup = resource.IdResourceGroup },
                                new AjaxOptions
                                {
                                    UpdateTargetId = "main-table-wrapper",
                                    InsertionMode = InsertionMode.Replace,
                                    Url = Url.Action("Delete", new { idResourceGroup = resource.IdResourceGroup }),
                                    HttpMethod = "DELETE",
                                    Confirm = "askOnDelete"
                                },
                                new
                                {
                                    @class = "btn btn-danger glyphicon glyphicon-remove",
                                    title = "Удалить запись",
                                    ariaLabel = "Удалить запись",
                                })*@
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>@Html.Partial("DataTableFooter", Model)
</div>