@model RequestsForRights.Models.ViewModels.Request.RequestDelegatePermissionsViewModel

@{
    ViewBag.Title = "Добавить заявку на делегирование прав";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новая заявка на делегирование прав</h2>

@using (Html.BeginForm("Create", "Request", new { IdRequestType = 4 }, FormMethod.Post,
    new { @class = "form-horizontal", id = "rr-request-form" }))
{
    @Html.Hidden("RequestModel.IdRequestType", 4)
    <div class="text-center">
        @Html.ValidationSummary(true)
    </div>

    @Html.Partial("RequestForm")
    @Html.Partial("Request/EditPanels/Create")
}


@section scripts {
    @Styles.Render("~/Content/bootstrap-datepicker")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Scripts.Render("~/bundles/jquery.autocomplete")
    @Scripts.Render("~/bundles/rr-request.common")
    @Scripts.Render("~/bundles/rr-request.update.insert.common")
    @Scripts.Render("~/bundles/rr-request.delegate-permissions")
}
