@model RequestsForRights.Models.ModelViews.RequestViewModel<RequestsForRights.Models.Models.RequestDelegatePermissionsUserModel>

@{
    ViewBag.Title = "Добавить заявку на делегирование прав";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новая заявка на делегирование прав</h2>

@using (Html.BeginForm("Create", "Request", new { IdRequestType = 4 }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Hidden("Request.IdRequestType", 4)
    <div class="text-center">
        @Html.ValidationSummary(true)
    </div>

    @Html.Partial("RequestForm")
    @Html.Partial("Request/EditPanels/Create")
}


@section scripts {
    @Scripts.Render("~/bundles/rr-request.common")
}
