@using System.Globalization
@using RequestsForRights.Infrastructure.Security.Interfaces
@using RequestsForRights.Models.Models
@model RequestsForRights.Models.ViewModels.Request.RequestDelegatePermissionsViewModel

@{
    var securityService = (IRequestSecurityService<RequestDelegatePermissionsUserModel>)ViewData["SecurityService"];
    ViewData["IdRequest"] = Model.RequestModel.IdRequest;
    ViewBag.Title = "Заявка на делегирование прав";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Заявка # @Model.RequestModel.IdRequest на делегирование прав</h2>

@Html.Partial("ErrorAlert")

<div>
    @Html.Partial("Request/Tabs")
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active rr-tab-pane" id="rr-request-content">
            <div>
                <div class="col-sm-12">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(r => r.RequestModel.OwnerSnp)</dt>
                        <dd>@Model.RequestModel.OwnerSnp</dd>
                        <dt>@Html.DisplayNameFor(r => r.RequestModel.OwnerDepartment)</dt>
                        <dd>@Model.RequestModel.OwnerDepartment</dd>
                        <dt>@Html.DisplayNameFor(r => r.RequestModel.Date)</dt>
                        <dd>@Model.RequestModel.Date.ToString("dd.MM.yyyy HH:mm", CultureInfo.CurrentCulture)</dd>
                        <dt>@Html.DisplayNameFor(r => r.RequestModel.Description)</dt>
                        <dd>@Model.RequestModel.Description</dd>
                    </dl>
                </div>
                <div class="panel-group rr-request-users" id="accordion" role="tablist" aria-multiselectable="true">
                    @if (Model.RequestModel.Users != null)
                    {
                        for (var i = 0; i < Model.RequestModel.Users.Count; i++)
                        {
                            if (!securityService.CanVisibleUser(Model.RequestModel,
                                Model.RequestModel.Users[i]))
                            {
                                continue;
                            }
                            var id = string.Format("collapse{0}", i);

                            <div class="panel panel-primary rr-request-user-wrapper">
                                <div class="panel-heading" role="tab" id="heading@id">
                                    <h4 class="panel-title">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@id" aria-expanded="true" aria-controls="@id">
                                            Делегирование «@(Model.RequestModel.Users[i].Snp)» — «@(Model.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.SnpDelegateTo)»
                                        </a>
                                    </h4>
                                </div>
                                <div id="@id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="rr-request-user-lg-flex-wrapper">
                                            <div class="col-lg-6 rr-request-delegation-from-user rr-request-user">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">Делегировать от</div>
                                                    <div class="panel-body">
                                                        <dl class="dl-horizontal">
                                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Snp)</dt>
                                                            <dd>@Model.RequestModel.Users[i].Snp</dd>
                                                            @if (securityService.CanSeeLogin())
                                                        {
                                                                <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Login)</dt>
                                                                <dd>@Model.RequestModel.Users[i].Login</dd>
                                                        }
                                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Post)</dt>
                                                            <dd>@Model.RequestModel.Users[i].Post</dd>
                                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Department)</dt>
                                                            <dd>@Model.RequestModel.Users[i].Department</dd>
                                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Unit)</dt>
                                                            <dd>@Model.RequestModel.Users[i].Unit</dd>
                                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Office)</dt>
                                                            <dd>@Model.RequestModel.Users[i].Office</dd>
                                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Phone)</dt>
                                                            <dd>@Model.RequestModel.Users[i].Phone</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 rr-request-delegation-to-user rr-request-user">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">Делегировать к</div>
                                                    <div class="panel-body">
                                                        <dl class="dl-horizontal">
                                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.SnpDelegateTo)</dt>
                                                            <dd>@Model.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.SnpDelegateTo</dd>
                                                            @if (securityService.CanSeeLogin())
                                                        {
                                                                <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.LoginDelegateTo)</dt>
                                                                <dd>@Model.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.LoginDelegateTo</dd>
                                                        }
                                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.PostDelegateTo)</dt>
                                                            <dd>@Model.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.PostDelegateTo</dd>
                                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.DepartmentDelegateTo)</dt>
                                                            <dd>@Model.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.DepartmentDelegateTo</dd>
                                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.UnitDelegateTo)</dt>
                                                            <dd>@Model.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.UnitDelegateTo</dd>
                                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.OfficeDelegateTo)</dt>
                                                            <dd>@Model.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.OfficeDelegateTo</dd>
                                                            <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.PhoneDelegateTo)</dt>
                                                            <dd>@Model.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.PhoneDelegateTo</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="panel panel-primary rr-delegation-general-info-panel">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Общая информация</h3>
                                            </div>
                                            <div class="panel-body">
                                                <dl class="dl-horizontal">
                                                    <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.DelegateFromDate)</dt>
                                                    <dd>@Model.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.DelegateFromDate.ToString("dd.MM.yyyy", CultureInfo.CurrentCulture)</dd>
                                                    <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.DelegateToDate)</dt>
                                                    <dd>@Model.RequestModel.Users[i].DelegationRequestUsersExtInfoModel.DelegateToDate.ToString("dd.MM.yyyy", CultureInfo.CurrentCulture)</dd>
                                                    @if (!string.IsNullOrEmpty(Model.RequestModel.Users[i].Description))
                                                    {
                                                        <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Description)</dt>
                                                        <dd>@Model.RequestModel.Users[i].Description</dd>
                                                    }
                                                </dl>
                                            </div>
                                        </div>
                                        @if (Model.RequestModel.Users[i].Rights != null &&
                                             Model.RequestModel.Users[i].Rights.Any())
                                        {
                                            <div class="panel panel-primary rr-request-rights">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Делегировать права</h3>
                                                </div>
                                                <ul class="list-group">
                                                    @for (var j = 0; j < Model.RequestModel.Users[i].Rights.Count; j++)
                                                    {
                                                        if (!securityService.CanVisibleRight(
                                                            Model.RequestModel,
                                                            Model.RequestModel.Users[i].Rights[j]))
                                                        {
                                                            continue;
                                                        }
                                                        <li class="list-group-item">
                                                            <dl class="dl-horizontal col-xs-12">
                                                                <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Rights[j].ResourceName)</dt>
                                                                <dd>@Model.RequestModel.Users[i].Rights[j].ResourceName</dd>
                                                                <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Rights[j].ResourceRightName)</dt>
                                                                <dd>@Model.RequestModel.Users[i].Rights[j].ResourceRightName</dd>
                                                                @if (!string.IsNullOrEmpty(Model.RequestModel.Users[i].Rights[j].Description))
                                                                {
                                                                    <dt>@Html.DisplayNameFor(r => r.RequestModel.Users[i].Rights[j].Description)</dt>
                                                                    <dd>@Model.RequestModel.Users[i].Rights[j].Description</dd>
                                                                }
                                                            </dl>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            @Html.Partial("Request/EditPanels/Detail")
        </div>
        @Html.Partial("Request/Agreements")
        @Html.Partial("Request/ExtComments", Model.Comments)
    </div>
</div>

@Html.Partial("DeleteModal", new
{
    Title = "Подтвердите удаление",
    Description = "Вы действительно хотите удалить эту заявку?"
})

@section scripts {
    @Scripts.Render("~/bundles/jquery.autocomplete")
    @Scripts.Render("~/bundles/rr-request.common")
    @Scripts.Render("~/bundles/rr-detail.update.common")
    @Scripts.Render("~/bundles/rr-request.comments")
    @Scripts.Render("~/bundles/rr-request.agreements")
}