@using RequestsForRights.Infrastructure.Security
@using RequestsForRights.Models.Models
@model RequestsForRights.Models.ModelViews.RequestViewModel<RequestDelegatePermissionsUserModel>

@{
    var securityService = (RequestSecurityService<RequestDelegatePermissionsUserModel>)ViewData["SecurityService"];
    ViewBag.Title = "Заявка на делегирование прав";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Заявка # @Model.RequestModel.IdRequest на делегирование прав</h2>

@Html.Partial("ErrorAlert")

<div>
    @Html.Partial("Request/Tabs")
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active rr-tab-pane" id="request">
            <div>
                @Model.RequestModel.IdRequest
            </div> 
            @Html.Partial("Request/EditPanels/Detail")
        </div>
        @Html.Partial("Request/Agreements", Model.Agreements)
        @Html.Partial("Request/ExtDescriptions", Model.Descriptions)
    </div>
</div>

@Html.Partial("DeleteModal", new
{
    Title = "Подтвердите удаление",
    Description = "Вы действительно хотите удалить эту заявку?"
})

@section scripts {
    @Scripts.Render("~/bundles/rr-request.common")
    @Scripts.Render("~/bundles/rr-detail.update.common")
}